@charset "UTF-8";

/* ==========================================================================
 CSS Reset (http://meyerweb.com/eric/tools/css/reset/ v2.0)
 ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	font: inherit;
	font-size: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
li { list-style-type: none; }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
a { text-decoration: underline; cursor: pointer; }

/* ==========================================================================
 GAME Styles
 ========================================================================== */

html, body {width: 100%; height: 100%; overflow: hidden;}

body { font-family: Helvetica, Arial, sans-serif; font-size: 13px; line-height: 17px; color: #333; overflow: hidden; position: relative; background: #000; }

div.lbox { position: absolute; width: 500px; height: 400px; box-sizing: border-box; padding: 60px 40px 40px 40px; top: 50%; left: 50%; margin-left: -250px; margin-top: -200px; z-index: 1100; display: none; background: #FFF; overflow-y: auto; overflow-x: hidden; }
div.lbox a.close { position: absolute; top: 20px; text-align: right; right: 40px; display: block; height: 20px; width: 80px; }
div.lbox a.close::before { content: "Close"; }
#modal { position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1000; background-color: #000; opacity: 0.8; display: none; }

/* ==========================================================================
 MEDIA QUERIES
 ========================================================================== */

@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
}
